// USER SCSS FILE

.item_user {
  width: 250px;
  // height: 270px;
  border: 1px solid black;
  padding: 20px;
  font-size: 19px;
  // color: white;
  // background-color: #191919;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #191919;

  button {
    border: 1px solid #191919;
  }
}

.img_size {
  width: 100px;
  height: 100px;
}
